.bg {

  background-color: #FFFDFB;

}
.logo {
  height: 100px;
  width: 100px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header{
  margin-left: 520px;
  margin-right: auto;
  margin-bottom: 100px;

}

 .home:hover{
background-color: #FFCE3E;
display: inline-block;
border-radius: 5px;

 }

.contact:hover{
background-color: #FFCE3E;
display: inline-block;
border-radius: 5px;

 }

 .propos:hover{
background-color: #FFCE3E;
display: inline-block;
border-radius: 5px;

 }

a.button {
  border: none;
  background: #E65C7B;
  color: #f2f2f2;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  transition: all 500ms ease;
}
a.button:hover{
  background: rgba(0,0,0,0);
  color: #FFCE3E;
  box-shadow: inset 0 0 0 3px #FFCE3E;
}

.menu>li>a {
  color: #FFCE3E;
  font-weight: bold;
}
.menu>li>a:hover {
  color: black;
}

.row {
margin-bottom: 100px;

}

.h {
  font-size: 100px;
}

.pix:hover {
    transform: scale(1.10);
  -ms-transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -o-transform: scale(1.10);
  -moz-transform: scale(1.10);

}










